.wrapper{
    width: 900px;
    justify-content: center;
    margin-left: 290px;
}
.headWrapper{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.accordion{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: black;
}